/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
 body{
  background-image: url(/images/site/checkerboard.jpg);
  background-repeat:repeat;
 } 
 #wrapper{
  width: 85vw;
  max-width: 900px;
  margin: 10vw 5vw 10vw 5vw;
  border:solid 2px lightskyblue;
  border-radius: 15px;
 }
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
#wrapper{
  
  padding: 3vw;
  background-color: white;
}
#top-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.siteName *{
  font-size: 1.5rem;
  color: rgb(22, 0, 66);
  text-decoration: none;
}
#tools *{
  text-decoration: none;
  color: rgb(22, 0, 66);
}
nav{
  margin-top: 4vw;
  padding: 1vw;
  background-color: rgb(22, 0, 66);
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav a{
  color: white;
  text-decoration: none;
  
}
nav a:hover{
background-color: white;
border-radius: 5px;
color: black;
}
footer p{
  margin: 3vw;

}
#home-wrapper h1{
  font-size: 1.3rem;
}
.hero-wrapper{
  height: 40vh;
}
.hero{
  position: relative;
}
.hero .desc-box{
  position: absolute;
  top: 0;
  left: 20vw;
  background-color: rgba(106, 106, 106, 0.756);
  z-index: 5;
  padding: 3vw;
}
.hero .desc-box *{
  color: rgb(0, 255, 255);
}
.hero .desc-box button{
  color: white;
  background-color: teal;
  padding: 1vw;
}
.hero img{
  position: absolute;
  top: 3vw;
  right: 10vw;
  width: 50vw;
  max-width: 400px;
}
.upgrades-reviews{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

@media (max-width: 767px) {
  .upgrades-reviews {
    grid-template-columns: 1fr;
    grid-template-areas: "b"
                         "a";
  }
  .upgrades{
    grid-area: a;
  }
  .reviews{
    grid-area: b;
  }
}


.upgrades{
  display: grid;
  grid-template-areas: "t t"
                       "a b"
                       "c d"
  ;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
gap: 2vw;
}
.upgrades h2{
  grid-area: t;
}
.upgrade{
  background-color:rgb(0, 216, 216);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
#upgrade-1{grid-area: a;}
#upgrade-2{grid-area: b;}
#upgrade-3{grid-area: c;}
#upgrade-4{grid-area: d;}

.upgrade img{
  width:6vw;
}
.reviews{
  display: grid;
  grid-template-areas: "t t"
                       "a a"
                       "a a"
  ;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
gap: 2vw;
}


.reviews h2{
  grid-area: t;
}
.reviews ul{
  grid-area: a;
}
.reviews ul li{
  margin-top: 3vw;
}

#inv-display{
display: flex;
flex-wrap: wrap;
}

.inv-item{

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin: 3rem;
  padding: 1vw;
}

.inv-item a{
  color: black;
  text-decoration: none;
}
#detail-page{
  display: block;
}

#detail-page section img{
  width: 35vw;
  min-width: 300px;
}

@media (min-width: 768px) {
  #detail-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  #detail-page section {
    flex: 0 0 calc(33.33% - 20px); /* Adjust the percentage and margin as per your needs */
    margin: 10px;
  }
}

.container {
  width: 300px;
  padding: 16px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input:required:invalid, input:focus:invalid {
  border-color: red;
 }
 input:required:valid {
  border-color: green;
 }


button {
  background-color: #4CAF50;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.signup {
  text-align: center;
}

.inbox {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.inbox a {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 12px;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #333;
  border-radius: 4px;
}

.inbox a:hover {
  background-color: #ddd;
}

/* Style the table */
.inbox_table {
  width: 100%;
  border-collapse: collapse;
}

/* Style the table header */
.inbox_table thead th {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

/* Style the table rows */
.inbox_table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.inbox_table tbody tr:hover {
  background-color: #e2e2e2;
}

/* Style the table cells */
.inbox_table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.inbox_table td a {
  text-decoration: none;
  color: black;
}

.message_detail {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.message_detail h1 {
  font-size: 24px;
}

.message_detail h3 {
  font-size: 18px;
}

.message_detail textarea {
  width: 100%;
  height: 200px;
  resize: vertical;
}

.message_detail button {
  padding: 8px 12px;
  border: none;
  background-color: #f2f2f2;
  color: #333;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
}

.message_detail button:hover {
  background-color: #ddd;
}

.message_detail a {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 12px;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #333;
  border-radius: 4px;
}

.message_detail a:hover {
  background-color: #ddd;
}

.reply {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.reply h1 {
  font-size: 24px;
}

.reply h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.reply ul.notice {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.reply ul.notice li {
  color: red;
}

.reply textarea#body {
  width: 100%;
  height: 200px;
  resize: vertical;
}

.reply label {
  display: block;
  margin-bottom: 5px;
}

.reply input[type="text"],
.reply  select,
.reply  textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.reply button {
  padding: 8px 12px;
  border: none;
  background-color: #f2f2f2;
  color: #333;
  border-radius: 4px;
  cursor: pointer;
}

.reply button:hover {
  background-color: #ddd;
}

.reply a {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 12px;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #333;
  border-radius: 4px;
}

.reply a:hover {
  background-color: #ddd;
}


 


.new_message {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.new_message h1 {
  font-size: 24px;
}

.new_message h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.new_message ul.notice {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.new_message ul.notice li {
  color: red;
}

.new_message textarea#body {
  width: 100%;
  height: 200px;
  resize: vertical;
}

.new_message label {
  display: block;
  margin-bottom: 5px;
}

.new_message input[type="text"],
.new_message  select,
.new_message  textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.new_message button {
  padding: 8px 12px;
  border: none;
  background-color: #f2f2f2;
  color: #333;
  border-radius: 4px;
  cursor: pointer;
}

.new_message button:hover {
  background-color: #ddd;
}

.new_message a {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 12px;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #333;
  border-radius: 4px;
}

.new_message a:hover {
  background-color: #ddd;
}
