<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%# messages() %>
<a href="/inv/newclassification">Create Classification</a>
<a href="/inv/newvehicle">Create New Inventory Item</a>
